
.ui-layout-pane {
	border:			0; 
	border-top:		1px solid #BBB;
	border-bottom:	1px solid #BBB;
}
.ui-layout-pane-north ,
.ui-layout-pane-south {
	border:			1px solid #BBB;
	overflow:		hidden;
}
.ui-layout-pane-west ,
.ui-layout-pane-east {
}
.ui-layout-pane-center	{
	border-left:	0;
	border-right:	0;
	}
	.inner-center {
		border:		1px solid #BBB;
	}
.outer-west ,
.outer-east {
	background-color: #EEE;
}
.middle-west ,
.middle-east {
	background-color: #F8F8F8;
}
.outer-center ,
.middle-center {
	border:			0; 
	padding:		2px;
	overflow:       auto;
}
.middle-south {
	border:			0; 
	padding:		2px;
	overflow:		hidden;
}
div.jquery-console-focus span.jquery-console-cursor 
{
    border: 1px solid black;
}
span.jquery-console-prompt-label
{
    margin: 0 5px 0 5px;
}
span.rwd_prompt
{
	margin: 0 3px 0 3px;
	font: 15px Arial;
	vertical-align: 50%;
}
div.wrwd-ouput
{
    font: Arial;
}
.ui-layout-pane-west		{ border-right:		0; }
.ui-layout-resizer-west		{ border-left:		1px solid #BBB; }
.ui-layout-pane-east		{ border-left:		0; }
.ui-layout-resizer-east		{ border-right:		1px solid #BBB; }
.ui-layout-pane-north		{ border-bottom:	0; }
.ui-layout-resizer-north	{ border-top:		1px solid #BBB; }
.ui-layout-pane-south		{ border-top:		0; }
.ui-layout-resizer-south	{ border-bottom: 	1px solid #BBB; }
.ui-layout-resizer-west-dragging ,
.ui-layout-resizer-east-dragging {
	border-left:		1px solid #BBB;
	border-right:		1px solid #BBB;
}
.ui-layout-resizer-north-dragging ,
.ui-layout-resizer-south-dragging {
	border-top:		1px solid #BBB;
	border-bottom:	1px solid #BBB;
}
