<div class="ui-layout-west">
    <div class="header">File Explorer</div>
    <div class="file-explorer-content"></div>
</div>
<div class="ui-layout-north">
  <div class="yeogurt-info">
    <h1>Readable Writable worDbook web edition (Alpha)</h1>
    <p>
      Take a look at the <a href="https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---" data-bypass>documentation</a> and start mixing up something awesome.
    </p>
    <p>
      <img src="/images/yeogurt-swirl.png" width="75px" class="logo" />
    </p>
    <p class="links">
      <a href="/docs/styleguide/index.html" data-bypass>Styleguide</a>
      <a href="/docs/api/index.html" data-bypass>API</a>
    </p>
  </div>
</div>
<div id="main-content">
  <div class="ui-layout-center">
      <div class="ui-layout-content"></div>
  </div>
  <div class="ui-layout-south">
      <table style="width:100%;border:0px;margin:0px;padding:0px;">
          <tr style="padding:0px;margin:0px;">
              <td style="width:15px;padding:0px;margin:0px;text-align:center;"><span class="fa fa-angle-right"></span></td>
              <td style="padding:0px;margin:0px;"><pre id="rwd_readline" style="padding:0px;margin:0px;"></pre></td>
          </tr>
      </table>
      </ul>
  </div>
  <div class="ui-layout-east"></div>
</div>
