/* remove padding & scrolling from panes that are 'containers' for nested layouts */
.outer-center ,
.middle-center {
	border:			0; /* cosmetic */
	padding:		2px;
	overflow:       auto;
}
.middle-south {
	border:			0; /* cosmetic */
	padding:		2px;
	overflow:		hidden;
}
